---
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';
import Layout from '../layouts/Layout.astro';
import TradeTable from '../components/TradeTable.astro';

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has('session')) {
  return Astro.redirect('/signin');
}
const sessionCookie = Astro.cookies.get('session').value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect('/signin');
}
---

<Layout title="Dashboard">
  <main>
    <h1>Welcome {user.displayName}</h1>
    <p>We are happy to see you here</p>
    <TradeTable />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 2rem auto;
  }
  label {
    font-weight: bold;
  }
  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    border-radius: 4px;
    background: rgba(var(--accent-dark), 33%);
    color: white;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: rgba(var(--accent-dark), 33%);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  button:hover {
    background: grey;
  }
  a {
    color: rgb(var(--accent-light));
    text-decoration: underline;
  }
</style>
