---
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';
import Layout from '../layouts/Layout.astro';
import TradeInput from '../components/TradeInput.astro';

const auth = getAuth(app);

const sessionCookie = Astro.cookies.get('session').value;

let decodedCookie: any;
try {
  decodedCookie = await auth.verifySessionCookie(sessionCookie);
} catch (err) {
  return Astro.redirect('/signin');
}
---

<Layout title="Input Trades">
  <main>
    <h1>Input<span class="text-gradient"> Trades</span></h1>
    <TradeInput />
  </main>
</Layout>
