---
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';
import Layout from '../layouts/Layout.astro';
import ManageTrades from '../components/ManageTrades.astro';

const auth = getAuth(app);

if (!Astro.cookies.has('session')) {
  return Astro.redirect('/signin');
}

const sessionCookie = Astro.cookies.get('session').value;

let decodedCookie: any;
try {
  decodedCookie = await auth.verifySessionCookie(sessionCookie);
} catch (err) {
  return Astro.redirect('/signin');
}
const user = await auth.getUser(decodedCookie.uid);
---

<Layout title="Manage">
  <main>
    <h1>View all<span class="text-gradient"> trades</span></h1>
    <ManageTrades />
  </main>
</Layout>
